.hero
  .wrapper.header-wrapper
    - var darkHeader = 'header-dark'
    include ../partials/header.pug
  .wrapper
    .post-count Posts #0-#{site.posts.length - 1}
    h1 Nice Thinking.
.wrapper
  section
    ul
      - _(site.posts).chain().clone().reverse().each( function(post){
        li(class=`${post.get('redirect') ? "redirected" : "" }`)
          span.ordinal ##{_(site.posts).indexOf(post)}
          a(href=`${post.get('redirect') ? post.get('redirect') : '/'+post.htmlPath() }`)
            | #{_(post.title()).truncate(75)}
      - })

