doctype html
html
  head
    meta(charset=utf-8)

    meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

    link(rel="alternate" type="application/rss+xml" title=`${site.title} | feed` href="/index.xml")
    title #{site.title}#{post ? ' | ' + post.title() : ''}

    link(rel="stylesheet" type="text/css" href=css media="all")
    link(rel="icon" href="/img/favicon.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon.png")
    link(rel="publisher" href="https://plus.google.com/116429043459865908397")
    if post && post.get('author') && post.get('author').googlePlus
      link(rel="author" href=post.get('author').googlePlus)

  body
    a#logo-link(href="http://www.testdouble.com")
      span.logo.dark.skm Test Double
    span#right-menu.menu.dark.skm Menu

    nav#sidr-right.sidr.right
      .close.skm Close
      p.pages
        a(href="http://www.testdouble.com/agency.html") Our Agency
        br
        a(href="http://www.testdouble.com/work.html") Our Work
        br
        a(href="/") Our Thinking
        br
        span.sub-nav &#8627;&nbsp;
          a(href="/archive.html") Archive
      p.services
        a(href="http://twitter.com/testdouble")
          span.twitter.skm Twitter
        a(href="http://github.com/testdouble")
          span.github.skm Github
      p.contact-info
        | 614.349.4279
        br
        a(href="mailto:hello@testdouble.com") hello@testdouble.com
        br
        | Columbus, Ohio

    .content !{yield}

    script(type="text/javascript" src=js)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76880114-2', 'auto');
      ga('send', 'pageview');
