doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no")
    title #{site.title}#{post ? ' | ' + post.title() : ''}
    link(rel="alternate" type="application/rss+xml" title=`${site.title} | feed` href="/index.xml")
    link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
    link(rel="preload" as="image" href=`/img/logo.svg`)
    link(rel="preload" as="image" href=`/img/logo-dark.svg`)
    link(rel="preload" as="image" href=`/img/menu-icon.svg`)
    link(rel="preload" as="image" href=`/img/menu-icon-dark.svg`)
    link(rel="stylesheet" type="text/css" media="all" href=`${css}`)
    link(href="https://plus.google.com/116429043459865908397" rel="publisher")
    if post && post.get('author') && post.get('author').googlePlus
      link(rel="author" href=post.get('author').googlePlus)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76880114-2', 'auto');
      ga('send', 'pageview');

    <!--[if lte IE 9]>
    script(src=`flexibility-2.0.1.js`)
    script flexibility(document.documentElement);
    <![endif]-->

  body
    input.is-nav-trigger#navigation-trigger(type="checkbox")
    include ../partials/navigation.pug
    main(class="site-container").content !{yield}
    include ../partials/accessible-menu.pug
